<article id="__ID__" class="pokemon"> 
    <figure class="pokemon-image">
        <img src="__IMAGE__" alt="__NAME__" title="__NAME__">
    </figure>
    <section class="info">
        <header>
            <h1>
                __NAME__
            </h1>
            <div class="types">
                __TYPE__
            </div>
        </header>
        <table class="stats">
            <tr>
                <th>Weight</th>
                <td>__WEIGHT__</td>
            </tr>
            <tr>
                <th>Base XP</th>
                <td>__BASE_XP__</td>
            </tr>
            <tr>
                <th>HP</th>
                <td>__HP__</td>
            </tr>
            <tr>
                <th>Attack</th>
                <td>__ATTACK__</td>
            </tr>
            <tr>
                <th>Defense</th>
                <td>__DEFENSE__</td>
            </tr>
            <tr>
                <th>Speed</th>
                <td>__SPEED__</td>
            </tr>
        </table>
    </section>
</article>
